@import './tailwind_base.scss';

@font-face {
	font-style: normal;
	font-weight: 500;
	src:
		local('Google Sans Medium'),
		local('GoogleSans-Medium'),
		url('/fonts/GoogleSans-Medium.woff2') format('woff2'),
		url('/fonts/GoogleSans-Medium.woff') format('woff');
	font-family: 'Google Sans';
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: bold;
	src:
		local('Google Sans Bold'),
		local('GoogleSans-Bold'),
		url('/fonts/GoogleSans-Bold.woff2') format('woff2'),
		url('/fonts/GoogleSans-Bold.woff') format('woff');
	font-family: 'Google Sans';
	font-display: swap;
}

body {
	@apply dark:bg-gray-900 bg-white text-light overflow-x-hidden;
  cursor: none;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;

	@media (min-width: 768px) {
		font-size: 14px;
	}

	@media (min-width: 1024px) {
		font-size: 15px;
	}

	@media (min-width: 1536px) {
		font-size: 18px;
	}
	@media (min-width: 1800px) {
		font-size: 20px;
	}
	@media (min-width: 2000px) {
		font-size: 22px;
	}
}

:root {
	color-scheme: light;
}

/* stylelint-disable-next-line selector-no-vendor-prefix */
::-moz-selection {
	background: black;
	color: white;
}

::selection {
	background: black;
	color: white;
}

.section-container {
	@apply 2xl:container xl:px-20 md:px-12 px-4 mx-auto;
}

.typed-cursor {
	font-size: 2rem;
}

.outer-menu {
	&.menu-visible {
		.hamburger {
			> div {
				transform: rotate(135deg);
				&::before {
					top: 0;
					transform: rotate(90deg);
				}
				&::after {
					top: 0;
					transform: rotate(90deg);
					opacity: 0;
				}
			}
		}
		.menu {
			visibility: visible !important;
			backdrop-filter: blur(0.625rem);
			-webkit-backdrop-filter: blur(0.625rem);
			pointer-events: auto;
			> div {
				transform: scale(1);
				transition-duration: 0.75s;
				> div {
					opacity: 1;
					transition: opacity 0.4s ease 0.4s;
				}
			}
		}
		&:hover {
			.hamburger {
				> div {
					transform: rotate(225deg);
				}
			}
		}
	}
	.hamburger {
		z-index: 1;
		backface-visibility: hidden;

		> div {
			transition: all 0.4s ease;
			height: 0.125rem;
			-webkit-box-pack: center;
			&::before,
			&::after {
				position: absolute;
				top: -0.5rem;
				left: 0;
				z-index: 1;
				transition: all 0.4s ease;
				background: inherit;
				width: 100%;
				height: 0.125rem;
				content: '';
			}
			&::after {
				top: 0.5rem;
			}
		}
	}
	.menu {
		backface-visibility: hidden;
		outline: 0.0625rem solid transparent;
		> div {
			transform: scale(0);
			backface-visibility: hidden;
			transition: all 0.4s ease;
			will-change: transform;
			border-radius: 50%;
			background: rgba(0, 0, 0, 0.5);
			width: 250vw;
			height: 250vw;
			@supports not (backdrop-filter: blur(1px)) {
				background: rgba(0, 0, 0, 0.8);
			}

			> div {
				transition: opacity 0.4s ease;
				max-width: 90vw;
			}
			ul {
				li {
					a {
						background: linear-gradient(
							90deg,
							#fff 0%,
							#fff 50%,
							#6dd5ed 51%,
							#2193b0 100%
						);
						background-size: 200% 100%;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;

						&:hover,
						&:focus {
							background-position: 100% 0;
						}
					}
				}
			}
		}
	}
}

.progress {
	height: 0.1875rem;

	.progress-bar {
		@apply w-full bg-white;
		transform: scaleX(0);
		transform-origin: left;
		will-change: transform;
		height: 0.2rem;
	}
}

.text-gradient {
	background: linear-gradient(90deg, #6dd5ed 0%, #2193b0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-strong {
	background: linear-gradient(
		90deg,
		#fff 0%,
		#fff 50%,
		#6dd5ed 51%,
		#2193b0 100%
	);
	background-size: 200% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.project-wrapper::-webkit-scrollbar {
	display: none;
}

.skill {
	padding-right: 1.25rem !important;
	padding-bottom: 1.25rem !important;
}

footer {
	background: url('/footer-bg.svg'),
		linear-gradient(
			153.86deg,
			#02494c 0%,
			#016877 15.69%,
			#0d576d 48.9%,
			#004865 95.52%
		);
}

.section-heading {
	@apply text-gradient;
	@apply md:text-5xl text-4xl font-bold  w-fit;
}

.section-title-sm {
	@apply uppercase tracking-widest text-gray-200 text-sm;
}

// 以下为copy的样式

.gap-6 {
	gap: 1.5rem;
}

.grid-flow-col {
	grid-auto-flow: column;
}
.auto-cols-max {
	grid-auto-columns: -webkit-max-content;
	grid-auto-columns: max-content;
}
.scroll-pl-6 {
	scroll-padding-left: 1.5rem;
}
.snap-mandatory {
	--tw-scroll-snap-strictness: mandatory;
}
.snap-x {
	scroll-snap-type: x var(--tw-scroll-snap-strictness);
}
.w-fit {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
.grid {
	display: grid;
}

*,
::before,
::after {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-scroll-snap-strictness: proximity;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
}

*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}
